table {
    width: 100%;
}

thead {
    position: sticky;
    top: 50px;
    z-index: 10;
    background-color: white;
    overflow-y: scroll;
    tr {
        font-size: 0.8rem;
        border-bottom: 1px solid grey;
    }
   
}

tbody {
    td {
        width: 80px;
        text-align: center;
        vertical-align: middle;
        padding: 20px 0;
    }
    tr {
        border-bottom: 1px solid grey;
        img {
            width: 80px;
        }
    }
}

tfoot {
    td {
        text-align: right;
        padding: 10px 0;
    }
}

.arrow, .remove {
    cursor: pointer;
}

.empty-message {
    height: 70vh;
    text-align: center;
    padding-top: 50%;
}