.shop-container {
    display: flex;
    flex-direction: column;

    h2 {
        text-transform: capitalize;
        font-size: 1.2rem;
        cursor: pointer;
    }
}

.category-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px 10px;
    margin-bottom: 50px;
}