*, 
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    padding:0 30px;
}


a {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
}